* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Averia Serif Libre", serif;
  
}


html {
  scroll-behavior: smooth;

}
html,
body {
  position: relative;
  height: 100%;
  animation-name: fade-in;
	animation-duration: 02s;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



.search-nav nav:nth-child(2) {
  display: none;
}



.search-nav, .user-job-result, .contact{
  height: 100vh;

}

a{
  text-decoration: none;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}


a:hover{
  color: gold;
}



.search-nav {
  /* height: 100vh; */

  background-image: url("../img/3601px-Tokyo_from_the_top_of_the_SkyTree.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-nav .desktop {
  width: 100%;
  position: fixed;
  z-index: 99;
  font-size: 20px;
  font-weight: 700;
}

.search-nav .desktop header {
  padding: 3vh 3vw;
  /* width: 80%; */
}

.search-nav .desktop .logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.desktop header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 3vw;
}

.desktop header ul li {
  cursor: pointer;
  /* color: aliceblue; */

  transition: all 0.5s ease-in-out;
}



.desktop header ul li:first-child {
  /* display: flex;
  align-items: center;
  gap: 4px; */
  flex: 1;
}

.search-con h1 {
  text-align: center;
  font-size: 35px;
  color: aliceblue;
  letter-spacing: 1px;
}

.search-con {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-con div {
  display: flex;
  align-items: center;
  padding: 3vh 0;

  gap: 0 2vw;
}

.search-con input {
  min-width: 17%;
  height: 6vh;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border-color: gold;
  padding-left: 3px;
}

.search-con input::placeholder {
  padding-left: 3px;
}

.search-con button {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  cursor: pointer;
  gap: 3px;
  border-radius: 5px;
  border-color: gold;
}

.search-con .shakura {
  width: 20px;
  height: 20px;
}

.search-con p {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 1px;
}



/* translator  */

.skiptranslate{
  display: flex ;
  flex-direction: column ;
}





/* user-search-job-result */

.user-search-job-result{

  margin: 1vh 0;
  background-color: #f8f9fa !important;
}

#user-job-result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vh 0;
  width: 100%;
  padding: 5vh 2vw;
}
#user-job-result .user-result{
  width: 100%;
  height: 60vh;
  overflow: auto; 
  padding: 2vh 2vw;
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  gap: 1vh 0;
}

#user-job-result .no-result{
  display: flex ;
  justify-content: center;
  font-size: 24px;
  color: red;
}

#user-spinner{
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 1vh 0;

}


#user-job-result .job-time p{
  text-align: center;
}


/* slider */


swiper-container {
  width: 100%;
  height: 50vh !important;
  /* margin: 2vh 0; */
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* job-posting */

.job-posting{
  margin: 1vh 0;
  background-color: #f8f9fa ;
}


#job-con{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vh 0;

  padding: 5vh 2vw;
}

#job-con div{
  width: 100%;
  height: 60vh;
  overflow: auto; 
  padding: 2vh 2vw;
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  gap: 1vh 0;
}

#window-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 1vh 0;
}


/* #job-con .job-card{
  display: flex;
  flex-direction: column;
  gap: 0.5vh 0;
  border-top-color: rgb(167, 205, 255);
  border-top-width: 2px;
  border-top-style: solid;
  padding: 2vh 2vw;
  cursor: pointer;
} */


/* why-choose */

.why-choose{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding: 2vh 0;
} 
.why-choose h2{
	margin: 4vh 0;

font-size: 35px;
}
.why-choose .job-type-con{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	margin: 0 auto;
	gap: 3vh 3vw;
}

.job-type-con div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2vh 0;
}

.job-type-con div .fa-lightbulb, .fa-wrench, .fa-house-medical, .fa-calculator{
	font-size: 50px;
}



.job-type-con div div{
	cursor: pointer;
	margin: 2vh 0;
}

.job-type-con div div p{
	color: rgb(247, 175, 175);
}

/* contact */

.contact{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	background-image: url("../img/roppongihills.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.3);
}

.contact h2{
	margin: 4vh 0;
	font-size: 35px;
  color: aliceblue;
}

.contact div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 


.contact form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vh 0;
}
.contact form input, textarea{
	width: 40vw;
	padding: 1vh 0.5vw;
  border-radius: 6px;
  outline: none;
}


.contact form button{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 3px;
	padding: 1vh 2vw;
	border-radius: 6px;
	border: none;
	transition: all 0.5s ease-in-out;
}

.contact form button:hover{
	background-color: rgb(153, 153, 231);
	cursor: pointer;
}




footer {
  background-color: black;
  /* height: 100vh; */
  padding: 5vh 0;
  width: 100%;
  color: aliceblue;
  /* height: 100%; */
  
}

footer nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}


footer nav div ul {
  list-style: none;
}

footer nav div h6 {
  margin-bottom: 1vh;
  font-size: 24px;
}

footer nav div ul li {
  line-height: 30px;
}

footer nav div:last-child ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0 5px;
}
footer nav div ul li {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease-in-out;
}

footer nav div ul li:hover {
  color: #ffd700;
}

footer .small-con{
	padding: 2vh 0;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.3);

}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#d1e5ff, #ff22e6);
  border-radius: 10px;
}



@keyframes fade-in{
	from{opacity: 0;}
	to {opacity: 1;}
}





/* mobile view */

@media screen and (max-width: 640px){

  .search-nav nav:first-child{
    display: none;
  }

  .search-nav nav:nth-child(2){
    display: block;
  }

  #sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: black;
    left: -300px;
    transition: 0.4s;
    z-index: 99;
  }

  #sidebar.active{
    left: 0;
  }

  #sidebar ul{
    margin-top: 12vh;
  }
  
  #sidebar ul li{
    list-style: none;
    color: aliceblue;
    font-size: 20px;
    padding: 20px 24px;
  }

  #sidebar .toggle-btn{
    position: absolute;
    top: 30px;
    left: 330px;
  }

  .toggle-btn span{
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
  }

  .mobile-nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 3vw;
  }


  .search-con div{
    flex-direction: column;
    gap: 6px;
  }

  .search-con div input{
    width: 50vw;
  }

  #user-job-result{
    grid-template-columns: 1fr;

  }

  #user-job-result .user-result{

  }
  
  #job-con{
    grid-template-columns: 1fr;
  
    padding: 5vh 2vw;
  }

  /* The user search result and that of the one that fetches on load share same style here */

  #user-job-result .user-result, #job-con div{
    border-color: gold;
    border-bottom-style:dotted;
    border-width: 2px;

  }

  .why-choose .job-type-con {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact form input{
    width: 70vw;
  }
  .contact form textarea{
    width: 70vw;
  }
  
  
  .contact form button{

    gap: 0 6px;
    padding: 1vh 7vw;
  }

  footer nav {
    flex-direction: column;
    gap: 1.5vh;
    width: 100%;
    padding-left: 2vw;
  }
}